In [4]:
print('''
      hello world
    aaaaaaaaaaaaaaaaa
      ''');

      hello world
    aaaaaaaaaaaaaaaaa

# OLÃA

### TESTEEE

In [6]:
2+2

4

In [7]:
8**7

2097152

In [8]:
6%2

0

In [9]:
type(2)

int

In [10]:
type("aaa")

str

In [11]:
type(true)

NameError: name 'true' is not defined

In [12]:
lst = [1,2,3,4]

In [13]:
nome = 'adriel'

In [14]:
print(nome);

adriel

In [15]:
adriel

NameError: name 'adriel' is not defined

In [16]:
nome

'adriel'

In [17]:
nome

'adriel'

In [18]:
for i in range(4):
    print('adriel')

adriel
adriel
adriel
adriel

In [19]:
for i in range(4):
    print('adriel');

adriel
adriel
adriel
adriel

In [20]:
import pandas

ModuleNotFoundError: No module named 'pandas'

In [21]:
import pandas;

ModuleNotFoundError: No module named 'pandas'

In [22]:
pip install pandas

Collecting pandas
  Using cached pandas-1.5.3-cp311-cp311-win_amd64.whl (10.3 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.5.3
Note: you may need to restart the kernel to use updated packages.

In [23]:
pip install pandas;

Requirement already satisfied: pandas in c:\python311\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [24]:
import pandas as pd;

In [25]:
pd.DataFrame({'nomes': ["Caio", "Mariane"], "idade": [29, 30]})

     nomes  idade
0     Caio     29
1  Mariane     30

In [26]:
df = pd.DataFrame({'nomes': ["Caio", "Mariane"], "idade": [29, 30]});

In [27]:
df

     nomes  idade
0     Caio     29
1  Mariane     30

In [28]:
df

     nomes  idade
0     Caio     29
1  Mariane     30